#lights {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 0%);
}

canvas {
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
  max-width: 100% !important;
  display: block;
  object-fit: cover;
}
